@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./solid.css";
@import "./fontawesome.css";

:root {
  --cl-accent: #ff4256;
  --cl-secondary: #274293;
  --cl-primary: #101c40;
}

html {
  font-size: 18px;
}

body {
  color: var(--cl-primary);
  background-color: #f4f4f6;
}

input:focus,
input:active {
  border: 0;
  outline: 0;
}
